<section id="about" class="section about">
  <div class="container">
    <p class="section__upper-title">tradition and love</p>
    <h2 class="section__title">how it’s made?</h2>
    <div class="about__wrapper">
      <div class="about__thumb">
        <picture>
          <source
            srcset="
              ./images/desktop/about/about-cow-desktop.png    1x,
              ./images/desktop/about/about-cow-desktop@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/tablet/about/about-cow-tablet.png    1x,
              ./images/tablet/about/about-cow-tablet@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/about/about-cow-mobile.png    1x,
              ./images/mobile/about/about-cow-mobile@2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="about__image"
            src="./images/mobile/about/about-cow-mobile.png"
            width="280"
            alt="Кувшин с молоком и корова"
          />
        </picture>
      </div>
      <div class="about__inner">
        <p class="about__description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__description about__description--light">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Crass massa nibh,
          tincidunt.
        </p>
        <p class="about__description about__description--light">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="about__button" type="button">
          Read more
          <svg class="about__button-icon" width="4" height="8">
            <use href="./images/icons.svg#icon-vector"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
