<section class="section-advantages">
    <h2 class="visually-hidden">Advantages</h2>

    <div class="advantages container">
        <div class="advantages-tumb ">
            <p class="advantages-tumb__data advantages-tumb721">721</p>
            <p class="advantages-tumb__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
        </div>
        <div class="advantages-tumb advantages-tumb--16kg">
            <p class="advantages-tumb__data">16kg</p>
            <p class="advantages-tumb__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </div><div class="advantages-tumb advantages-tumb--84">
            <p class="advantages-tumb__data">84</p>
            <p class="advantages-tumb__text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </div>
    </div>
</section>