<section class="contacts container">
  <h2 class="visually-hidden">Contacts</h2>
  <ul class="contacts-container">
    <li class="contacts-box">
      <div class="contacts-info">
        <p class="contacts-place">CAFE</p>
        <div class="contacts-item">
          <p class="contacts-item__city">Chicago</p>
          <p class="contacts-item__pay">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts-item">
          <li class="contacts-item__list">
            <p class="contacts-item__day">Monday - Friday</p>
            <p class="contacts-item__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-item__list">
            <p class="contacts-item__day">Saturday - Sunday</p>
            <p class="contacts-item__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-item">
          <li class="contacts-item__more">
            <a class="contacts-item__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-item__more">
            <a class="contacts-item__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="contacts-box">
      <div class="contacts-info">
        <p class="contacts-place__la">FOODTRUCK</p>
        <div class="contacts-item">
          <p class="contacts-item__city">Los Angeles</p>
          <p class="contacts-item__pay">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts-item">
          <li class="contacts-item__list">
            <p class="contacts-item__day">Monday - Friday</p>
            <p class="contacts-item__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-item__list">
            <p class="contacts-item__day">Saturday - Sunday</p>
            <p class="contacts-item__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-item">
          <li class="contacts-item__more">
            <a class="contacts-item__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-item__more">
            <a class="contacts-item__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="contacts-box">
      <div class="contacts-info">
        <p class="contacts-place">CAFE</p>
        <div class="contacts-item">
          <p class="contacts-item__city">Chicago</p>
          <p class="contacts-item__pay">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts-item">
          <li class="contacts-item__list">
            <p class="contacts-item__day">Monday - Friday</p>
            <p class="contacts-item__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-item__list">
            <p class="contacts-item__day">Saturday - Sunday</p>
            <p class="contacts-item__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <!-- <div class="contacts-item">
                        <a class="contacts-item__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a class="contacts-item__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div> -->
        <ul class="contacts-item">
          <li class="contacts-item__more">
            <a class="contacts-item__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-item__more">
            <a class="contacts-item__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="contacts-button">
    <li class="contacts-button__list">
      <button class="contacts-button__item" type="button">
        <div class="contacts-button__box">
          <div class="contacts-button__text">Our Locations</div>
          <!-- <p class="contacts-button__icon">></p> -->
          <svg class="contacts-button__icon" width="10" height="10">
            <use href="./images/icons.svg#Vector-1-1"></use>
          </svg>
        </div>
      </button>
    </li>
    <li class="contacts-buttons__list">
      <button class="contacts-button__secondary">
        <div class="contacts-button__box">
          <div class="contacts-button__franchise">Franchise</div>
          <svg class="contacts-button__icon" width="10" height="10">
            <use href="./images/icons.svg#Vector-2-1"></use>
          </svg>
        </div>
      </button>
    </li>
  </ul>
</section>
