<section class="section__customer">
    <div class="customer container">

        <picture>
            <source srcset="
                    ./images/desktop/customer/testimonials1-x1.png    1x,
                    ./images/desktop/customer/testimonials1-x2.png 2x
                    " media="(min-width:1280px)" />
            <source srcset="
                    ./images/tablet/customer/testimonials1-x1.png    1x,
                    ./images/tablet/customer/testimonials1-x2.png 2x
                    " media="(min-width:768px)" />
            <source srcset="
                    ./images/mobile/customer/testimonials1-x1.png    1x,
                    ./images/mobile/customer/testimonials1-x2.png 2x
                    " media="(min-width:320px)" />
            <img class="about__image" src="./images/mobile/customer/testimonials1-x1.png" width="100%"
                alt="Customer" />
        </picture>
        <div class="customer-rew">
            <div class="customer-rew__text customer-rew__grad">
                <p class="customer-rew__text-box">Nullam viverra consectetuer.
                Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.
                </p>
                
            </div>
        </div>
        <p class="customer__name">Emily, Los Angeles</p>

        <ul class="customer_home-circle list">
            <li class="item">
                <svg class="customer_3circle__icon" width="12" height="12">
                    <use href="./images/icons.svg#icon-home"></use>
                </svg>
            </li>
            <li class="item ">
                <svg class="customer_3circle__icon" width="12" height="12">
                    <use href="./images/icons.svg#icon-circle-grey"></use>
                </svg>
            </li>
            <li class="item">
                <svg class="customer_3circle__icon" width="12" height="12">
                    <use href="./images/icons.svg#icon-circle-grey"></use>
                </svg>
            </li>
        </ul>
    </div>

</section>

