<footer class="page-footer">
  <div class="container">
    <div class="page-footer__wrapper">
      <div class="inner-text">
        <p class="inner-text__label">homemade ice cream made</p>

        <span class="inner-text__title">with passion</span>
      </div>

      <div class="inner-social">
        <ul class="inner-social__list">
          <li class="inner-social__item">
            <a class="inner-social__link" href="https://github.com">
              <svg class="inner-social__icon">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>

          <li class="inner-social__item">
            <a class="inner-social__link" href="https://telegram.org">
              <svg class="inner-social__icon">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>

          <li class="inner-social__item">
            <a class="inner-social__link" href="https://uk-ua.facebook.com">
              <svg class="inner-social__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>

        <span class="inner-social__contact"
          >Feel free to contact
          <a class="inner-social__contact-link" href="tel:+61(0)383766284">
            +61 (0) 383 766 284</a
          ></span
        >
      </div>
    </div>
  </div>
  <div class="inner-company">
    <p class="inner-company__name">
      <span class="inner-company__icon">&#169;</span> 2019 - IceCream. All
      Rights Reserved.
    </p>
  </div>
</footer>
