<section class="gallery section">
<div>
    <picture>
        <source srcset="
                ./images/desktop/Gallery/Gallery-desktop-x1.png    1x,
                ./images/desktop/Gallery/Gallery-desktop-x2.png 2x
                " media="(min-width:1280px)" />
        <source srcset="
                ./images/tablet/Gallery/Gallery-tablet-x1.png    1x,
                ./images/tablet/Gallery/Gallery-tablet-x2.png 2x
                " media="(min-width:768px)" />
        <source srcset="
                ./images/mobile/Gallery/Gallery-mobile-x1.png    1x,
                ./images/mobile/Gallery/Gallery-mobile-x2.png 2x
                " media="(min-width:320px)" />
        <img class="display-block stretchable" src="./images/mobile/Gallery/Gallery-mobile-x1.png" width="100%"
            alt="Gallery" />
    </picture>
</div>
</section>