<section  class="section hero">
  <div class="container hero__container">
    
    <h1 class="hero__upper-title">
      ice cream <br />
      made with <span class="hero__title">passion</span>
    </h1>
    <div class="hero__inner">
      <a href="#products" class="hero__link hero__link--reverse">Products</a>
      <a href="#about" class="hero__link button link__button">How it’s made?</a>
    </div>
    <div class="hero__description">
            <p class="hero__description--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et
            </p>
            <button class="hero__icon" type="button">
                <svg class="hero__arrow">
                    <use  href="./images/icons.svg#icon-arrow"></use>
                </svg>
            </button>
        </div>
        <div class="circle"></div>
        <div class="ice-cream"></div>
        <div class="girl""></div>
        <div class="filiation">
            <ul class="filiation__list">
                <li class="filiation__item">
                    <p class="filiation__item--number">16</p>
                    <p class="filiation__item--name">cafes</p>
                </li>
                <li class="filiation__item">
                    <p class="filiation__item--number">23</p>
                    <p class="filiation__item--name" >food trucks</p>
                </li>
            </ul>
        </div>
    </div>
  </div>
</section>
